<div class="main user-new cyan">
  <div class="container">
    <div id="create-account-page" class="row">
    <div class="col s12 z-depth-4 card-panel">
      <div class="form-body">
        <div class="row">
          <div class="input-field col s12 center">
            <img src="/logo.png" alt="" class="">
          </div>
        </div>

          <div class="form-error">
            ユーザーのポストはそれぞれジャンルIDを持っているため原則変更禁止です。
            <%= @error_message %>
          </div>

        <%= form_tag("/genres/#{@genre.id}/update") do %>
        <div class="row margin">
          <div class="input-field col s12">
            <input id="title" name="title" type="text" class="validate" value="<%= @genre.title %>">
            <label for="title" class="active">ジャンル<span class="required">*</span></label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
          <button class="waves-effect waves-light btn pull-right" type="submit">追加</button>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  </div>
</div>
