<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      明日、参加予定のイベントがあります。
    </p>
    <p>
      ログインをして、ご確認ください。
      <%= @url %>
    </p>
  </body>
</html>