<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @user.name %>様</p><br>
    <p>
      新しく設定されたパスワードは以下の通りです。
    </p>
    <p>
      <%= @password %>
    </p>
    <br>
    <p>
     <%= @url %>
    </p>
    <p>
      ログイン後にパスワードを変更してください。
    </p>
  </body>
</html>