<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %>様</h1>
    <p>
      Kyteのパスワードの再設定を行います。
    </p>
    <p>
     <%= @url %>をクリックして変更をしてください。
    </p>
  </body>
</html>