<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @user.name %>様、Kyteへようこそ。</p>
      <p>
      Kyteへのサインアップが成功しました。
      あなたのユーザー名は<%= @user.name %>です。<br>
    </p>
    <p>
      このサイトにログインするには、<%= @url %>をクリックしてください。
    </p>
  </body>
</html>