<div class="main user-new cyan">
  <div class="container">
    <div id="create-account-page" class="row">
    <div class="col s12 z-depth-4 card-panel">
      <div class="form-body">
        <div class="row">
          <div class="input-field col s12 center">
            <img src="/logo.png" alt="" class="">
          </div>
        </div>
        <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        <% if @error_message %>
          <div class="form-error">
            <%= @error_message %>
          </div>
        <% end %>


        <%= form_tag("/users/forgot_password") do %>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="fa fa-envelope prefix" aria-hidden="true"></i>
            <input id="email_account" name="email" type="text" class="validate" value="<%= @email %>">
            <label for="email_account" class="active">メールアドレス<span class="required">*</span></label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
          <button class="waves-effect waves-light btn pull-right" type="submit">送信</button>
          </div>
        </div>
        <% end %>

      </div>
    </div>
  </div>
  </div>
</div>
