<div id="about-picture" class="about-main">
  <div class="about-message">
    <h2>Kyteとは</h2>
    <p>イベントに参加したり、自分でイベントを企画して参加者を募ることのできるアプリです。</p>
    <p>いつもの仲間たちはもちろん、普段は中々交流することのできない人たちたちも誘って、ワクワクするような経験をもっとしていきましょう</p>
    <p>Kyteという名称はKonoYubiTomarE(この指とまれ）から来ています。（ださくないです）</p>
    <p>子どもの頃に遊んだ時のような、ワクワクやドキドキをもっと見つけて欲しいという想いから付けられました。</p>
  </div>
</div>
