<div class="main users-index">
  <div class="container">
    <!-- <h1 class="users-heading">ジャンル一覧</h1> -->
    <p>id: タイトル</p>
    <% @genre.each do |genre| %>
      <div class="genre-index-item">
        <div class="genre-left">

        </div>
        <div class="genre-right">
          <p><%= genre.id %>: <%= genre.title %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>