<div id="top-picture" class="main top-main">
  <div class="top-message">
    <h2>新しい経験を</h2>
    <p class="sub-message">自分の世界を広げていこう</p>
    <a data-target="account-modal" class="waves-effect waves-light btn modal-trigger">アカウントを作る</a> 

  </div>
</div>

