$color: #4cc48e;

/* posts/index ================================ */
.posts-index {
  .container.list-container {
    // margin: 80px auto;
    .hashtag:nth-child(n+1) {
      margin-top: 16px;
    }
  }
}

.posts-index-item {
  padding: 16px 16px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
  color: black;
}

.post-left img {
  width: 50px;
  height: 50px;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

.post-user-name a {
  font-weight: 600;
}

.post-user-name a:hover {
  color: #3ecdc6;
}

.post-left {
  float: left;
  width: 10%;
}

.post-right {
  float: left;
  width: 90%;
  padding-left: 25px;
  text-align: left;
}

/* posts/show ================================ */
.posts-show {
  form {
    display: inline;
  }

  .posts-show-item {
    padding: 24px;
    background-color: white;
    box-shadow: 0 2px 6px #c1ced7;
    overflow: hidden;

    .post-img img {
      width: 100%;
      max-height: 271px;
      vertical-align: middle;
      object-fit: cover;
    }

    .post-user-img img {
      width: 50px;
      height: 50px;
      border-radius: 40%;
      box-shadow: 0 2px 6px #c1ced7;
      object-fit: cover;
    }

    .post-user-name a {
      vertical-align: middle;
      font-size: 24px;
      margin-left: 15px;
    }

    p {
      font-size: 14px;
      margin: 20px 0;
    }

    p.post-detail-label {
      font-size: 17px;
      font-weight: bold;
    }

    .post-title {
      font-size: 20px;

      .contributor {
        font-size: 14px;
      }
    }

    .post-lest {
      font-size: 14px;
      margin-top: 8px;
    }

    .fa {
      font-size: 16px;
      margin-right: 3px;
    }

  }

  .post-time {
    color: #8899a6;
    margin-bottom: 10px;
  }

  .like-btn {
    color: #8899a6;
  }

  .like-btn-unlike {
    color: #ff2581;
  }

  .post-menus {
    float: right;
  }

  .post-menus a, .post-menus input {
    /*
    color: #8899a6;
    text-decoration: underline;
    font-size: 14px;
    */
}

}



/* posts/new ================================ */
.posts-new textarea {
  font-size: 20px;
  padding: 10px;
  min-height: 140px;
  border: 1px solid rgb(216, 218, 223);
  resize: none;
}

.posts-new textarea::-webkit-input-placeholder {
  font-size: 24px;
  opacity: 0.5;
}

/* cards ======================*/
.hashtag {
  font-size: 17px;
  color: #7f7f7f;
}

.l-card {
  min-width: 200px;
  max-width: 200px;
  min-height: 300px;
  max-height: 300px;
  overflow: hidden;
  float: left;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), 0 8px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0;
  // margin: 24px auto;
  background: #fff;
  &:hover {
    .thumbnail-wrapper {
      img {
        filter: grayscale(0);
      }
    }
    .more-text {
      opacity: 0.9;
      transform: translateX(0);
    }
  }
}
.l-thumbnail {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
  border: 0.3px solid rgba(0, 0, 0, 0.1);

}
.thumbnail-wrapper {
  display: block;
  margin: 0;
  padding: 0;
  img {
    transition: 0.5s;
    display: block;
    max-width: 100%;
    filter: grayscale(100%);
  }
}
.more-text {
  transition: 0.5s;
  position: absolute;
  left: 16px;
  bottom: 16px;
  transform: translateX(-5%);
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  padding: 4px 8px;
  border-radius: 12px;
  color: #fff;
  font-size: 14px;
  opacity: 0;
}
.text-content {
  // padding: 16px;
  position: relative;
  .title {
    // margin: 0 0 12px 0;
    font-size: 20px;
    color: $color;
    font-weight: bold;
    position: absolute;
    top: 16px;
    left: 16px;
    line-height: 1.2;
  }
  .caption {
    // margin: 0 0 12px 0;
    font-size: 14px;
    color: #555;
    font-weight: lighter;
  }
}
.content-meta {
  overflow: hidden;
  width: 100%;
  font-size: 12px;
  position: absolute;
  top: 96px;
  left: 16px;
  .date {
    float: left;
    color: #aaa;
  }
  .like {
    display: inline-block;
    float: right;
    color: $color;
    .material-icons {
      vertical-align: middle;     
      font-size: 16px;
    }
  }
}
.card.card-prof {
  min-width: 180px;
  max-width: 180px;
  min-height: 238px;
  max-height: 270px;
  box-shadow: 0 2px 5px #ccc;
  overflow: hidden;
}

.card-img {
  max-width: 100%;
  height: auto;
  background-size: cover;
}
.card-container  {
  padding-top: 16px;
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
}
.card-container.card-prof-container  {
  padding-top: 0px;
  position: relative;
}
.card-text {
  color: #777;
  line-height: 1.5;
}
.card-text-head {
  font-size: 17px;
  position: absolute;
}
.card-date {
  position: absolute;
  top: 96px;
  p {
  font-size: 14px;
  margin: 0;
  }
}

.card-flex {
  display:flex;
  max-width: 1122px;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  // border: 1px dashed #e4e5e6;
}

.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background: bottom right 15% no-repeat #46B6AC;
}

.required {
  color: red;
}

#preview {
  overflow: hidden;
}

#preview.user-img img {
  vertical-align: middle;
  object-fit: cover;
  width: 80px;
  height: 80px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

#preview img {
  width: 814.5px;
  height: 271px;
  vertical-align: middle;
  object-fit: cover;
}

a .fa {
  color: #039be5;
}

.padding-top-4 {
  padding-top: 4px;
}

// for 画像のインポート by D&D
// .upload-box {
//   position: relative;
// }

// input[type=file] {
//   height: 0px;
//   visibility: hidden;
//   position: absolute;
// }

// #drop_zone {
//   border: 2px dashed #000000;
//   padding: 50px;
//   margin: 20px;
//   font-size: 24px;
//   color: #000000;
//   background-color: #ffffff;
//   text-align: center;
// }

